.guide-content {
    padding: 10px 0 100px 0;

    .content {
        max-width: 900px;
    }

    /*! Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */
    /* Uncomment the following line when using as a custom stylesheet */
    /* @import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700"; */


    .paragraph {

    }

    .sect1 {

    }

    .sectionbody {

    }

    .ulist {
        ul {
            list-style: disc;
            padding-left: 20px;
        }
    }

    .listingblock {
        .title {

        }
        .content {

        }
    }
}