#site-header {
  position: relative;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  @media (min-width: 500px) {
    padding: 20px 40px;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
  }

  .brand {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  .logo {
    display: flex;

    img {
      height: rem(30px);
      width: auto;

      @media (min-width: 500px) {
        height: rem(48px);
      }
    }
  }

  #mobile-menu-toggle {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: $eggplant;
    padding: 0;
    margin: 0;
    font-weight: 500;

    body.mobile-menu & {
      color: $topaz;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav {
    display: none;

    @media (max-width: 1023px) {
      body.mobile-menu & {
        display: flex;
      }

      position: absolute;
      top: calc(100% - 5px);
      width: calc(100% - 80px);
      flex-direction: column;
      border: 1px solid $mist;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0px 30px 35px rgba($smoke, 0.75);
      min-width: 200px;
    }

    @media (max-width: 499px) {
      width: calc(100% - 40px);
    }

    @media (min-width: 1024px) {
      display: block;
    }
  }

  .menu {
    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
  }

  .menu-item {
    display: flex;

    @media (max-width: 1023px) {
      flex-direction: column;

      +.menu-item {
        border-top: 1px solid $mist;
      }
    }

    @media (min-width: 1024px) {
      align-items: center;
      position: relative;
    }

    .badge {
      color: white;
      font-size: rem(10px);
      padding: 2px 6px;
      background-color: #0FD5C6; // somehow $topaz is too dark for me.
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: rem(6px);

      &:hover {}
    }

    button,
    a {
      min-height: 30px;
      display: flex;
      gap: 6px;
      align-items: center;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0;
      font-weight: 500;
      color: $eggplant;
      text-decoration: none;
      font-size: rem(14px);
      transition: color 0.2s ease;
      white-space: nowrap;

      @media (max-width: 1023px) {
        padding: 10px 20px;
      }

      @media (min-width: 1024px) {
        min-height: 48px;
        gap: 8px;
        font-size: rem(16px);
      }

      &:hover {
        color: $topaz;
      }

      .icon-external {
        margin-left: auto;
        opacity: .3;
        flex-shrink: 0;
      }
    }

    .icon-caret {
      opacity: .3;
      height: rem(8px);

      @media (min-width: 500px) {
        height: rem(10px);
      }
    }

    .icon-slack,
    .icon-github {
      height: rem(18px);

      @media (min-width: 500px) {
        height: rem(24px);
      }
    }
  }

  .menu-dropdown {
    flex-direction: column;

    @at-root body.js & {
      display: none;
    }

    @media (max-width: 1023px) {}

    @media (min-width: 1024px) {
      position: absolute;
      top: 100%;
      right: -8px;
      border: 1px solid $mist;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0px 30px 35px rgba($smoke, 0.75);
      min-width: 200px;
    }
  }

  .menu-item.has-children.active .menu-dropdown {
    display: flex;

    @media (max-width: 1023px) {
      border-top: 1px solid $mist;
    }
  }

  .menu-dropdown-item {

    +.menu-dropdown-item {
      border-top: 1px solid $mist;
    }

    a {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px 20px;
      font-weight: 500;
      color: $eggplant;
      text-decoration: none;
      transition:
        color 0.2s ease,
        background 0.2s ease;

      &:hover {
        background-color: rgba($catskill, 0.45);

        .icon-external {
          color: $topaz;
        }
      }

      @media (max-width: 1023px) {
        padding: 10px 20px 10px 30px;
      }

      .icon-external {
        margin-left: auto;
        color: $fog;
        flex-shrink: 0;
        opacity: 1;
      }
    }

    img {
      height: 24px;
    }
  }
}

.announcement-banner {
  background: $violet;
  position: relative;
  z-index: 99;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  text-align: center;

  body.js & {
    display: none;
  }

  body.js &.not-dismissed {
    display: block;
  }

  &.dismissed {
    display: none;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .announcement-close {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    margin: 0;
    padding: 2px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}