.longform-content {

    .single & {
        padding: 0 0 60px 0;

        @media (min-width: 500px) {
            padding: 0 0 100px 0;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (min-width: 1024px) {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    .toc + .content {
        @media (min-width: 1024px) {
            max-width: 820px;
            width: calc(100% - 380px);
        }
    }

    .container > .content {
        flex: 1 1 auto;
        font-size: rem(18px);

        & > *:first-child {
            margin-top: 0;
        }

        @import "guides/asciidoctor.scss";

        img {
            max-width: 100%;
            height: auto;
        }

        pre {
            width: 100%;
            position: relative;
            overflow: hidden;
            margin: 0 0 1.25rem 0;
            border-radius: 6px;

            code { 
                width: 100%;
                display: block;
                overflow-x: auto;
                font-family: "Roboto Mono", 'Courier New', Courier, monospace;
                background: $plum;
                color: $catskill;
                padding: 20px;
                border-radius: 6px;
        
                @media (min-width: 500px) {
                    padding: 40px;
                }

                &[data-lang]::before {
                    content: attr(data-lang);
                    position: absolute;
                    font-size: .75em;
                    top: 0.425rem;
                    left: 0.5rem;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #c3c7e6;
                }
            }
        }
    }
}