$aqua: #16D6C7;
$topaz: #00BAC2;
$pacific: #17A6B2;
$teal: #027F9E;
$eggplant: #291A3F;
$plum: #361E5B;
$violet: #6638F2;
$ghost: #F7F9FD;
$catskill: #F2F4FE;
$mist: #E7EAFB;
$fog: #C3C7E6;
$haze: #C3BEDE;
$smoke: #9991B5;
$storm: #746C8F;