@import "variables";

@function rem($px) {
  @return ($px / 16px) * 1rem;
}

@import "modern-normalize";
@import "fonts";

html {
  scroll-behavior: smooth;
}

body {
  color: $storm;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: rem(12px);
  line-height: 1.5;

  @media (min-width: 500px) {
    font-size: rem(16px);
  }
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 500px) {
    padding: 0 40px;
  }
}

h1 {
  color: $eggplant;
  font-size: rem(24px);
  font-weight: 700;
  line-height: 1.1;

  @media (min-width: 780px) {
    font-size: rem(48px);
  }
}

h2 {
  color: $eggplant;
  font-size: rem(20px);
  font-weight: 500;
  margin: 0;

  @media (min-width: 780px) {
    font-size: rem(24px);
  }
}

h3 {
  color: $eggplant;
  font-size: rem(18px);
  font-weight: 500;
  margin: 0;

  @media (min-width: 780px) {
    font-size: rem(20px);
  }
}

h4 {
  color: $eggplant;
  font-weight: 400;
}

.small-header {
  max-width: max-content;
  text-transform: uppercase;
  margin-bottom: 10px;

  &.gradient {
    background: linear-gradient(90deg, $topaz 0%, $violet 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (min-width: 780px) {
    margin-bottom: 20px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: auto;
  max-width: 100%;
}

a {
  color: $teal;
  transition: color 0.2s ease;

  &:hover {
    color: $aqua;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.error-404 {
  padding: 100px 0;
  text-align: center
}

.button {
  display: flex;
  gap: 6px;
  align-items: center;
  border: 2px solid $violet;
  border-radius: 3px;
  background: $violet;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 500;
  color: $catskill;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  font-size: rem(14px);
  transition:
    color 0.2s ease,
    border-color 0.2s ease,
    background 0.2s ease;
  white-space: nowrap;

  @media (min-width: 1024px) {
    padding: 16px 30px;
    gap: 8px;
    font-size: rem(18px);
  }

  &:hover {
    background: $aqua;
    border-color: $aqua;
    color: $catskill;
  }

  &.outline {
    background: none;
    border: 2px solid $violet;
    color: $violet;

    &:hover {
      background: $aqua;
      border-color: $aqua;
      color: $catskill;
    }
  }
}

@import "footer";
@import "glide";
@import "header";
@import "sections/alternating-image";
@import "sections/alternating-download-image";
@import "sections/article-links";
@import "sections/callout";
@import "sections/centered-text";
@import "sections/cloud-banner";
@import "guides/highlight";
@import "longform";
@import "sections/code-examples";
@import "sections/company-logos";
@import "sections/download-banner";
@import "sections/event-banner";
@import "sections/expereince-columns";
@import "sections/featured-champions.scss";
@import "sections/guide-callout.scss";
@import "sections/hero-banner";
@import "sections/icon-columns";
@import "sections/logo-wall";
@import "sections/page-banner";
@import "sections/pricing";
@import "sections/quotes";
@import "sections/resource-links";
@import "sections/signup-form";
@import "sections/special-article-links";
@import "sections/sponsor-credits";
@import "sections/step-cards";
@import "sections/supported-languages";
@import "sections/text-columns";
@import "sections/tweets";
@import "subheader";
@import "shortcodes/languages";
@import "toc";