.modules-list {
    padding: 0 0 60px 0;

    @media (min-width: 500px) {
        padding: 60px 0;
    }

    @media (min-width: 1440px) {
        padding: 60px 0px;
    }

    .container {
        display: grid;
        gap: 40px;
        max-width: 2000px;

        @media (min-width: 780px) {
            grid-template-columns: 300px 1fr;
        }
    }
    
    .filter {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 779px) {
            display: none;
            border: 1px solid $mist;
            border-radius: 6px;
            padding: 20px;

            .filter-toggled & {
                display: flex;
            }
        }
    }

    .status-filter {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }  

    .language-filter {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
            margin-bottom: 10px;
        }
    }

    .category-filter {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;

        h3 {
            margin-bottom: 10px;
        }
    }

    .filter-field {
        display: flex;
        flex-direction: column;
    }

    /* Radio filter styling */
    .radio-button {
        cursor: pointer;
        padding: 5px 16px;
        border-left: 4px solid transparent;

        span {
            font-weight: 500;
            color: $smoke;
        }

        &:hover {
            border-color: $mist;

            span {
                color: $topaz;
            }
        }
    }
    input[type=checkbox]:focus-visible ~ .radio-button,
    input[type=radio]:focus-visible ~ .radio-button {
        outline: 2px solid #000;
    }
    input[type=checkbox]:checked ~ .radio-button,
    input[type=radio]:checked ~ .radio-button {
        border-color: $aqua;

        span {
            color: $topaz;
        }
    }

    /* Checkbox filter styling */
    .checkbox {
        display: flex;
        gap: 16px;
        align-items: center;
        cursor: pointer;

        span {
            font-weight: 500;
            color: $smoke;
        }

        &:hover {
            span {
                color: $eggplant
            }
            .checkbox-proxy {
                border-color: $aqua;
            }
        }
    }

    .checkbox-proxy {
        padding: 5px;
        border: 2px solid $fog;
        border-radius: 6px;

        svg {
            fill: $catskill;
            display: block;
            opacity: 0;
        }
    }

    input[type=checkbox]:focus-visible ~ .checkbox,
    input[type=radio]:focus-visible ~ .checkbox {
        .checkbox-proxy {
            outline: 2px solid #000;
        }
    }

    input[type=checkbox]:checked ~ .checkbox,
    input[type=radio]:checked ~ .checkbox {
        .checkbox-proxy {
            background: $aqua;
            border-color: $aqua;

            svg  {
                opacity: 1;
            }
        }
    }

    .official-label {
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
            fill: $violet;
            display: block;
        }
    }

    .disclaimer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
    .icon-award {
        fill: $violet;
        display: block;
    }

    .content {

    }

    .modules-list-items {
        display: grid;
        gap: 10px;

        @media (min-width: 500px) {
            gap: 10px;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 780px) {
            grid-template-columns: 1fr;
        }

        @media (min-width: 1130px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media (min-width: 1440px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1600px) {
            gap: 20px;
        }
    }

    .modules-list-item {
        border: 1px solid $mist;
        border-radius: 6px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        color: inherit;
        transition: background-color 0.2s ease;
        overflow: hidden;

        @media (min-width: 1600px) {
            padding: 20px;
        }

        &:hover {
            background: rgba($catskill, 0.45);

            h2 {
                color: $topaz;
            }

            .language {
                background: $mist;
            }
        }

        img {
            width: 60px;
            height: 60px;
        }

        .modules-list-item-content {
            display: flex;
            flex-direction: column;
            //align-items: center;
            gap: 5px;
            flex-grow: 1;
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            overflow: hidden;
        }

        h2 {
            line-height: 1;
            font-size: rem(18px);
            transition: color 0.2s ease;
            text-align: left;
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 1;

            @media (min-width: 1600px) {
                font-size: rem(20px);
            }
        }

        .official {
            svg {
                fill: $violet;
                display: block;
            }
        }

        div {
            text-align: left;
        }

        .category {
            font-size: rem(14px);

            @media (min-width: 1600px) {
                font-size: rem(16px);
            }
        }

        .languages {
            display: flex;
            gap: 5px;
            margin-top: 5px;

            @media (min-width: 1600px) {
                margin-top: 10px;
            }
        }

        .language {
            padding: 5px 10px;
            background: $catskill;
            color: $eggplant;
            font-size: rem(10px);
            border-radius: 1000px;
            transition: background-color 0.2s ease;

            @media (min-width: 1600px) {
                font-size: rem(12px);
            }
        }
    }

    .modules-filter-empty {
        text-align: center;
        display: none;

        &.show {
            display: block;
        }
    }
}