{{ define "pageScripts" }}
    {{ $style := resources.Get "/sass/modules.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <script src="/js/highlight.min.js"></script>
{{ end }}

{{ define "main" }}
  {{ $languages := site.Data.languages }}
  <main>
    <article>
      <div class="module-top-header">
        <div class="container">
          <aside>
            <a href="/modules" class="back-link">
              <svg class="icon-caret" height="10" viewBox="0 0 10 10">
                <use href="#icon-caret"></use>
              </svg>
              Modules
            </a>
          </aside>
        </div>
      </div>
      <div class="module">
        <div class="container">
          <header class="module-header">
            <div class="banner-wrapper">
              {{ $logoImage := .Resources.GetMatch "logo.svg" }}
              {{ $markImage := resources.Get (printf "/images/modules/%s-mark.svg" .File.BaseFileName) }}
              {{ if $logoImage }}
                {{- $relImage := printf "%s%s" .RelPermalink $logoImage -}}
                <img src="{{ $relImage }}" width="100" height="100" alt="" loading="lazy"/>
              {{ else if $markImage }}
                {{ partial "img.html" (dict "image" $markImage "alt" "") }}
              {{ else }}
                {{ partial "img.html" (dict "image" (resources.Get "/images/modules/none.svg") "alt" "") }}
              {{ end }}
              <div class="banner">
                <div class="title">
                  <h1>
                    {{ .Title }}
                  </h1>
                  {{ if or .Params.officialPartner .Params.isOfficial }}
                    <div class="official">
                      <svg width="30" height="30" viewBox="0 0 30 30">
                        <use href="#icon-award"></use>
                      </svg>
                    </div>
                  {{ end }}
                </div>
                {{ if .GetTerms "categories" }}
                  <div class="categories">
                    {{ $categoriesList := (.GetTerms "categories") }}
                    {{ $categoriesListLength := (len $categoriesList) }}
                    {{ range $index, $element := $categoriesList }}
                      <span class="category">{{.Title }}{{ if lt (add $index 1) $categoriesListLength }},{{ end }}</span>
                    {{ end }}
                  </div>
                {{ end }}
                {{ $moduleLanguages := partial "utils/module-languages" . }}
                {{ with $moduleLanguages }}
                  <ul class="languages">
                    {{ range . }}
                      <li class="language">{{ .title }}</li>
                    {{ end }}
                  </ul>
                {{ end }}
              </div>
            </div>
          </header>
          <div class="module-sidebar longform-content">
            <div>
              <h2>Documentation</h2>
              {{ $communityDocs := false }}
              {{ range .Params.Docs }}
                {{ $language := index $languages (.id | lower)}}
                <a href="{{ .url }}" target="_blank">
                  {{ with $language.logo }}
                    {{ partial "img.html" (dict "image" (resources.Get $language.logo) "alt" "") }}
                  {{ end }}
                  {{ $language.title }}
                  {{ if or (eq .maintainer "community") .isThirdParty }}
                    {{ $communityDocs = true }}
                    <svg class="icon-community" height="16" viewBox="0 0 40 32">
                      <use href="#icon-community"></use>
                    </svg>
                  {{ end }}
                  {{/*
                  {{ if eq .maintainer "official" }}
                    <svg class="icon-award" width="16" height="16" viewBox="0 0 30 30">
                      <use href="#icon-award"></use>
                    </svg>
                  {{ end }}
                  */}}
                  <svg class="icon-external" width="15" height="17" viewBox="0 0 15 17">
                      <use href="#icon-external"></use>
                  </svg>
                </a>
              {{end}} 
            </div>
            {{ if or .Params.officialPartner .Params.isOfficial }}
              <div class="disclaimer">  
                <h2>
                  <svg class="icon-award" width="24" height="24" viewBox="0 0 30 30">
                    <use href="#icon-award"></use>
                  </svg> Official Module</h2>
                {{ with .Params.officialPartner }}
                  <a href="{{ .url }}" target="_blank">
                    {{ .name }}
                    <svg class="icon-external" width="15" height="17" viewBox="0 0 15 17">
                      <use href="#icon-external"></use>
                    </svg>
                  </a>
                {{ end }}
                <div>We partner with software vendors to maintain and certify official modules.</div>
              </div>
            {{ end }}

            {{ if $communityDocs }}
              <div class="disclaimer">  
                <h2>
                  <svg class="icon-community" height="24" viewBox="0 0 40 32">
                    <use href="#icon-community"></use>
                  </svg> Community Module</h2>
                <div>These modules are maintained by the community, outside of the Testcontainers project.</div>
              </div>
            {{ end }}
          </div>
          <div class="module-content longform-content">
            {{ if .Description }}
              <div class="section">
                <h2>Description</h2>
                {{ .Description | markdownify }}
              </div>
            {{ end }}
            {{ if .Params.Docs }}
              <div class="section">
                <h2>Examples</h2>
                <div class="code-examples examples">
                  <div class="tab-labels">
                    {{ range $index, $doc := .Params.Docs }}
                      {{ $language := index $languages (.id | lower) }}
                      {{ if eq $index 0 }}
                        <button class="active" data-target="{{ $doc.id }}">{{ $language.title }}</button>
                      {{ else }}
                        <button data-target="{{ $doc.id }}">{{ $language.title }}</button>
                      {{ end }}
                    {{ end }}
                  </div>
                  <div class="tab-panels">
                    {{ range $index, $doc := .Params.Docs }}
                      {{ if eq $index 0 }}
                        <div class="tab-panel active" data-id="{{ $doc.id }}">
                          {{ $doc.example | markdownify }}
                        </div>
                      {{ else }}
                        <div class="tab-panel" data-id="{{ $doc.id }}">
                          {{ $doc.example | markdownify }}
                        </div>
                      {{ end }}
                    {{ end }}
                  </div>
                </div>
              </div>
            {{ end }}
            {{ with .Content }}
              <div class="section content">
                {{ . }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </article>
  </main>
{{ end }}