{{ define "pageScripts" }}
{{ $style := resources.Get "/sass/guides.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ $script := resources.Get "/js/guides.js" | js.Build | resources.Minify }}
<script src="{{ $script.RelPermalink }}" defer></script>
{{ end }}

{{ define "main" }}
  <main>
    <section class="guides-banner">
        <div class="container">
          <div class="content">
            <h1>{{ .Title }}</h1>
            <div class="description">{{ .Description | markdownify }}</div>
            <div class="search">
              <input id="guides-search" type="text" placeholder="Search"/>
            </div>
          </div>
        </div>
    </section>
    <section class="guides-list">
      <div class="container">
        <div class="content">
          <div class="guides-list-items">
            {{ range .Paginator.Pages }}
              <a href="{{ .RelPermalink }}" class="guides-list-item" data-search='{{ dict "title" .Title "description" .Description "languages" .Params.Languages "tags" .Params.Tags | jsonify }}'>       
                <h2>{{ .Title }}</h2>
                {{ if .Description }}
                  <div class="description">{{ .Description }}</div>
                {{ end }}
                {{ if or (.GetTerms "languages") (.GetTerms "tags") }}
                  <ul class="tag-list">
                    {{ range (.GetTerms "languages") }}
                        <li class="tag language">{{ .Title }}</li>
                    {{ end }}
                    {{ range (.GetTerms "tags") }}
                        <li class="tag">{{ .Title }}</li>
                    {{ end }}
                  </ul>
                {{ end }}
              </a>
            {{ end }}
          </div>
          <div class="guides-search-empty">
            No search results
          </div>
        </div>
      </div>
    </section>
  </main>
{{ end }}