<section class="alternating-image">
    <div class="container">
        <h2>{{ .section.title | markdownify }}</h2>
        <div class="wrapper">
            {{ partial "img.html" (dict "image" (resources.Get .section.image) "alt" "") }}
            <div class="content">
                <div class="description">{{ .section.description | markdownify }}</div>
                <div class="buttons">
                    {{ range .section.buttons }}
                        {{ $buttonClasses := slice "button" }}
                        {{ with .style }}
                            {{ $buttonClasses = $buttonClasses | append . }}
                        {{ end }}
                        <a class='{{ delimit $buttonClasses " " }}' href="{{ .url }}" target="{{ .target }}">{{ .label }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>