<section class="cloud-banner">
    <div class="container">
        <div class="content">
            <h1>{{ .section.title | markdownify }}</h1>
            <div>{{ .section.description | markdownify }}</div>
            <div class="buttons">
                {{ range .section.buttons }}
                    {{ $buttonClasses := slice "button" }}
                    {{ with .style }}
                        {{ $buttonClasses = $buttonClasses | append . }}
                    {{ end }}
                    <a class='{{ delimit $buttonClasses " " }}' href="{{ .link }}" target="{{ .target }}">{{ .label }}</a>
                {{ end }}
            </div>
        </div>
        <div class="video">
            <a data-fslightbox href="https://www.youtube.com/watch?v={{ .section.video.id }}">
                {{ partial "img.html" (dict "image" (resources.Get .section.video.image) "alt" .name) }}
                <div class="play">
                    <span class="sr-only">Play Video</span>
                    <svg width="26" height="30" viewBox="0 0 26 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.0108 15.1177L0.378906 29.339L0.378907 0.896484L25.0108 15.1177Z"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>