{{- $downloadLinkMacIntel := "https://app.testcontainers.cloud/download/testcontainers-desktop_darwin_x86-64.dmg" -}}
{{- $downloadLinkMacApple := "https://app.testcontainers.cloud/download/testcontainers-desktop_darwin_arm64.dmg" -}}
{{- $downloadLinkWindows := "https://app.testcontainers.cloud/download/testcontainers-desktop_windows_x86-64.msi" -}}
{{- $downloadLinkLinuxDeb := "https://app.testcontainers.cloud/download/testcontainers-desktop_linux_x86-64.deb" -}}
{{- $downloadLinkLinuxRpm := "https://app.testcontainers.cloud/download/testcontainers-desktop_linux_x86-64.rpm" -}}
<section class="download-banner active-macos">
     <div class="content">
        <h1>{{ .section.title | markdownify }}</h1>
        <div class="description">{{ .section.description | markdownify }}</div>
    </div>
        <div class="container">
            <div class="download-sections">
                {{ with .section.instructions }}
                    <div class="instructions">{{ . }}</div>
                {{ end }}
                <div class="download-section macos">
                    <pre><code class="language-shell" data-lang="shell">brew install atomicjar/tap/testcontainers-desktop</code></pre>
                    <div class="buttons">
                        <a class="button has-extra" href="{{- $downloadLinkMacIntel -}}">
                            <span>Download for Mac</span>
                            <span class="extra">Intel</span>
                        </a>
                        <a class="button has-extra" href="{{- $downloadLinkMacApple -}}">
                            <span>Download for Mac</span>
                            <span class="extra">Apple Silicon</span>
                        </a>
                    </div>
                </div>
                <div class="download-section windows">
                    <div class="buttons">
                        <a class="button" href="{{- $downloadLinkWindows -}}">
                            <span>Download for Windows</span>
                        </a>
                    </div>
                </div>
                <div class="download-section linux">
                    <div class="buttons">
                        <a class="button has-extra" href="{{- $downloadLinkLinuxDeb -}}">
                            <span>Download for Linux</span>
                            <span class="extra">.deb</span>
                        </a>
                        <a class="button has-extra" href="{{- $downloadLinkLinuxRpm -}}">
                            <span>Download for Linux</span>
                            <span class="extra">.rpm</span>
                        </a>
                    </div>
                </div>
                <div class="other-options">
                    <div>Not your OS? Download for:</div>
                    <div class="download-links">
                        <a href="#macos" class="macos" data-os="macos">Mac</a>
                        <a href="#windows" class="windows" data-os="windows">Windows</a>
                        <a href="#linux" class="linux" data-os="linux">Linux</a>
                    </div>
                </div>
            </div>
             <div class="video">
            <a data-fslightbox href="https://www.youtube.com/watch?v={{ .section.video.id }}">
                {{ partial "img.html" (dict "image" (resources.Get .section.video.image) "alt" "") }}
                <div class="play">
                    <span class="sr-only">Play Video</span>
                    <svg width="26" height="30" viewBox="0 0 26 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.0108 15.1177L0.378906 29.339L0.378907 0.896484L25.0108 15.1177Z"/>
                    </svg>
                </div>
            </a>
        </div>
        </div>

    </div>
</section>
