{{/*
- partial: guide-callout
  title: Lorem ipsum
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  guide: guides/simple-local-development-with-testcontainers-desktop
*/}}
{{ $title := .section.title }}
{{ $description := .section.description }}
{{ $guide := site.GetPage .section.guide }}
<section class="guide-callout">
  <div class="container">
    <div class="content">
      <h2>{{ $title | markdownify }}</h2>
      <div class="description">{{ $description | markdownify }}</div>
      <div class="buttons">
        <a class="button" href="{{ $guide.RelPermalink }}">Read the Guide</a>
      </div>
    </div>
    <div class="guide">
      {{ with $guide }}
        <a href="{{ .RelPermalink }}" class="guides-list-item">
          <h2>{{ .Title }}</h2>
          {{ if .Description }}
            <div class="description">{{ .Description }}</div>
          {{ end }}
          {{ if or (.GetTerms "languages") (.GetTerms "tags") }}
            <ul class="tag-list">
              {{ range (.GetTerms "languages") }}
                <li class="tag language">{{ .Title }}</li>
              {{ end }}
              {{ range (.GetTerms "tags") }}
                <li class="tag">{{ .Title }}</li>
              {{ end }}
            </ul>
          {{ end }}
        </a>
      {{ end }}
    </div>
  </div>
</section>