<section class="logo-wall">
    <div class="container">
        <div class="header">
            <div class="small-header gradient">{{ .section.small_title }}</div>
            <h2>{{ .section.title }}</h2>
        </div>
        <div class="logos">
            {{ range .section.logos }}
                {{ partial "img.html" (dict "image" (resources.Get .) "alt" "") }}
            {{ end }}
        </div>
        <div class="buttons">
            {{ range .section.buttons }}
                {{ $buttonClasses := slice "logo-wall-button" }}
                {{ with .style }}
                    {{ $buttonClasses = $buttonClasses | append . }}
                {{ end }}
                <a class='{{ delimit $buttonClasses " " }}' href="{{ .url }}" target="{{ .target }}">
                    {{ .label }}
                    <svg class="icon-caret" height="10" viewBox="0 0 10 10">
                        <use href="#icon-caret"></use>
                    </svg>
                </a>
            {{ end }}
        </div>
    </div>
</section>