{{/*
- partial: page-banner
  title: Lorem ipsum
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  buttons:
    - label: Lorem ipsum
      url: https://testcontainers.com
    - label: Lorem ipsum
      url: https://testcontainers.com
      style: outline
  image: images/tcc-desktop.svg
*/}}
<section class="page-banner">
  <div class="container">
    <div class="content">
      {{ with .section.title }}
        <h1>{{ . | markdownify }}</h1>
      {{ end }}
      {{ with .section.description }}
        <div class="description">{{ . | markdownify }}</div>
      {{ end }}
      {{ with .section.buttons }}
        <div class="buttons-wrapper">
          <div class="buttons">
            {{ range . }}
              {{ $buttonClasses := slice "button" }}
              {{ with .style }}
                {{ $buttonClasses = $buttonClasses | append . }}
              {{ end }}
              <a class='{{ delimit $buttonClasses " " }}' href="{{ .url }}" target="{{ .target }}">{{ .label }}</a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
    {{ with .section.image }}
      <div class="image">
        {{ partial "img.html" (dict "image" (resources.Get .) "alt" "") }}
      </div>
    {{ end }}
  </div>
</section>