{{/*
- partial: text-callout
  title: Lorem ipsum
  description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  buttons:
    - label: Lorem ipsum
      url: https://testcontainers.com
    - label: Lorem ipsum
      url: https://testcontainers.com
      style: outline
*/}}
{{ $title := .section.title }}
{{ $description := .section.description }}
{{ $buttons := .section.buttons }}
<section class="text-callout">
  <div class="container">
    <div class="content">
      {{ with $title  }}
        <h2>{{ . | markdownify }}</h2>
      {{ end }}
      {{ with $description }}
        <div class="description">{{ . | markdownify }}</div>
      {{ end }}
      {{ with $buttons }}
        <div class="buttons-wrapper">
          <div class="buttons">
            {{ range . }}
              {{ $buttonClasses := slice "button" }}
              {{ with .style }}
                {{ $buttonClasses = $buttonClasses | append . }}
              {{ end }}
              <a class='{{ delimit $buttonClasses " " }}' href="{{ .url }}" target="{{ .target }}">{{ .label }}</a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>