{{/*
- partial: text-columns
  title: Lorem ipsum
  description: Lorem ipsum dolor sit amet
  cols: 3
  columns:
    - title: Lorem ipsum
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  buttons:
    - label: Lorem ipsum
      url: https://testcontainers.com
    - label: Lorem ipsum
      url: https://testcontainers.com
      style: outline
  afterword: Lorem ipsum dolor sit amet
  style: some-classname
*/}}
{{ $title := .section.title }}
{{ $description := .section.description }}
{{ $cols := .section.cols | default 3 }}
{{ $columns := .section.columns }}
{{ $buttons := .section.buttons }}
{{ $afterword := .section.afterword }}
{{ $style := .section.style }}
{{ $columnClasses := printf "%s cols-%d" "columns" $cols }}
{{ $sectionClasses := slice "text-columns" }}
{{ with $style }}
  {{ $sectionClasses = $sectionClasses | append . }}
{{ end }}
<section class='{{ delimit $sectionClasses " " }}'>
  <div class="container">
    {{ if or $title $description }}
      <div class="content">
        {{ with $title }}<h2>{{ . | markdownify }}</h2>{{ end }}
        {{ with $description }}<div>{{ . | markdownify }}</div>{{ end }}
      </div>
    {{ end }}
    {{ with $columns }}
      <div class="{{ $columnClasses }}">
        {{ range . }}
          <div class="column">
            <h3>{{ .title | markdownify }}</h3>
            <div class="description">{{ .description | markdownify }}</div>
          </div>
        {{ end }}
      </div>
    {{ end }}
    {{ with $buttons }}
      <div class="buttons">
        {{ range . }}
          {{ $buttonClasses := slice "button" }}
          {{ with .style }}
            {{ $buttonClasses = $buttonClasses | append . }}
          {{ end }}
          <a class='{{ delimit $buttonClasses " " }}' href="{{ .url }}" target="{{ .target }}">{{ .label }}</a>
        {{ end }}
      </div>
    {{ end }}
    {{ with $afterword }}
      <div class="afterword">{{ . | markdownify }}</div>
    {{ end }}
  </div>
</section>