{{/*
- partial: text-columns
  title: Lorem ipsum
  description: Lorem ipsum dolor sit amet
  cols: 3
  columns:
    - title: Lorem ipsum
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  afterword: Lorem ipsum dolor sit amet
*/}}
{{ $cols := .section.cols | default 3 }}
{{ $columnClasses := printf "%s cols-%d" "columns" $cols }}
<section class="text-columns">
  <div class="container">
    {{ if .section.title }}
      <div class="content">
        <h2>{{ .section.title | markdownify }}</h2>
        <div>{{ .section.description | markdownify }}</div>
      </div>
    {{ end }}
    <div class="{{ $columnClasses }}">
      {{ range .section.columns }}
        <div class="column">
          <h3>{{ .title | markdownify }}</h3>
          <div class="description">{{ .description | markdownify }}</div>
        </div>
      {{ end }}
    </div>
    <div class="buttons">
      {{ range .section.buttons }}
        {{ $buttonClasses := slice "button" }}
        {{ with .style }}
          {{ $buttonClasses = $buttonClasses | append . }}
        {{ end }}
        <a class='{{ delimit $buttonClasses " " }}' href="{{ .url }}" target="{{ .target }}">{{ .label }}</a>
      {{ end }}
    </div>
    {{ with .section.afterword }}
      <div class="afterword">{{ . | markdownify }}</div>
    {{ end }}
  </div>
</section>