<section class="tweets">
    <div class="container">
        <h2>{{ .section.title }}</h2>
        <div>
            <div class="glide">
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="|<">
                        <span class="sr-only">Previous</span>
                        <svg class="icon-caret" height="10" viewBox="0 0 10 10">
                            <use href="#icon-caret"></use>
                        </svg>
                    </button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir="|>">
                        <span class="sr-only">Next</span>
                        <svg class="icon-caret" height="10" viewBox="0 0 10 10">
                            <use href="#icon-caret"></use>
                        </svg>
                    </button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {{ range .section.tweets }}
                            <li class="glide__slide">
                                {{ . | safeHTML }}
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>