{{ $bodyClasses := slice "" }}
{{ if .Site.Params.Announcement }}
    {{ $bodyClasses = $bodyClasses | append "has-announcement" }}
{{ end }}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://tag-manager.testcontainers.com/';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5LGVXVD');</script>
        <!-- End Google Tag Manager -->
        {{- partial "head.html" . -}}
        {{- block "pageScripts" . }}{{- end }}
    </head>
    <body class='{{ delimit $bodyClasses " " }}'>
        <script>
            // Allow graceful fallback when js disabled via css.
            document.body.classList.add('js');
        </script>
        {{- partial "header.html" . -}}
        {{- block "subheader" . }}{{- end }}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "svgs/sprite.html" -}}
        {{- block "footerScripts" . }}{{- end }}
        <div id="site-search">
            <button id="site-search-close-catcher"></button>
            <div class="wrapper">
                <div class="controls">
                    <label for="search-input">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" fill="currentColor"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                    </label>
                    <input id="search-input" type="text" placeholder="Search">
                    <button id="site-search-close">{{ partial "svgs/close" }}</button>
                </div>
                <div id="site-search-results"></div>
            </div>
        </div>
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LGVXVD" 
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    </body>
</html>
