{{ $bodyClasses := slice "" }}
{{ if .Site.Params.Announcement }}
    {{ $bodyClasses = $bodyClasses | append "has-announcement" }}
{{ end }}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://tag-manager.testcontainers.com/';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5LGVXVD');</script>
        <!-- End Google Tag Manager -->
        {{- partial "head.html" . -}}
        {{- block "pageScripts" . }}{{- end }}
    </head>
    <body class='{{ delimit $bodyClasses " " }}'>
        <script>
            // Allow graceful fallback when js disabled via css.
            document.body.classList.add('js');
        </script>
        {{- partial "header.html" . -}}
        {{- block "subheader" . }}{{- end }}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "svgs/sprite.html" -}}
        {{- block "footerScripts" . }}{{- end }}
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LGVXVD" 
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    </body>
</html>
