{{ define "pageScripts"}}
<script src="/js/glide.js"></script>
<script src="/js/highlight.min.js"></script>
{{ end }}

{{ define "footerScripts" }}
<script src="/js/fslightbox.js"></script>
<script>
    if (document.querySelectorAll(".quotes .glide").length > 0)
        new Glide('.quotes .glide', {
            startAt: 0,
            perView: 1
        }).mount()
    if (document.querySelectorAll(".tweets .glide").length > 0)
        new Glide('.tweets .glide', {
            perView: 4,
            perSwipe: '|',
            bound: true,
            breakpoints: {
                1340: {
                    perView: 3
                },
                1024: {
                    perView: 2
                },
                720: {
                    perView: 1
                }
            }
        }).mount()
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ end }}

{{ define "main" }}
    <main class="single">
        {{ range $section := .Params.Sections  }}
            {{ partial (printf "%s%s" "sections/" .partial) (dict "section" $section )}}
        {{ end }}
        {{ if .Params.showTitle }}
            <div class="container">
                <h1>
                    {{ .Title }}
                </h1>
            </div>
        {{ end }}
        {{ if .Content }}
            <div class="longform-content">
                <div class="container">
                    {{ if .Params.showToc }}
                        <aside class="toc">
                            {{ .TableOfContents }}
                        </aside>
                    {{ end }}
                    <div class="content">    
                        {{ .Content }}
                    </div>
                </div>
            </div>
        {{ end }}
    </main>
{{ end }}
