.article-links {
    padding: 40px 0;

    @media (min-width: 780px) {
        padding: 60px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        @media (min-width: 780px) {
            gap: 20px;
        }
    }

    .small-header {
        margin: 0;
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
        align-items: stretch;

        @media (min-width: 780px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        a {
            border: 1px solid $mist;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 16px;
            text-decoration: none;
            transition: background-color 0.2s ease;
            background-color: transparent;
            overflow: hidden;
            width: 100%;
            
            &:focus,
            &:hover {
                background-color: $ghost;
            }
        }

        .domain {
            max-width: 100%;
            display: flex;
            gap: 8px;
            align-items: center;
            text-decoration: underline;
            overflow: hidden;

            img {
                width: 18px;
                height: 18px;
                flex: 0 0 auto;
            }
        }

        .domain-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 0 1 auto;
        }

        .icon-external {
            color: $fog;
            flex: 0 0 auto;
        }

        .body {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .name {
            font-size: rem(16px);
            font-weight: 500;
            color: $eggplant;
            text-decoration: none;
        }

        .description {
            color: $storm;
        }
    }
}