.code-examples {
    padding: 60px 0;

    @media (min-width: 780px) {
        padding: 60px 0;
    }

    .container {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 20px;

        @media (min-width: 500px) {
            gap: 40px;
        }

        @media (min-width: 768px) {    
            grid-template-columns: 1fr minmax(0, 2fr);
        }
    }

    .examples {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 768px) {    
            padding-top: 40px;
        }
    }

    .tab-labels {
        display: flex;
        position: relative;
        gap: 30px;
        overflow: auto;
        box-shadow: inset 0 -3px 0 0 $mist;

        button {
            background: none;
            border: none;
            padding: 10px 0;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            font-weight: 500;
            color: $storm;
            transition: 
                color 0.2s ease,
                border-color 0.2s ease;

            &:hover {
                color: $topaz;
            }

            &.active {
                color: $topaz;
                border-color: $aqua;
            }
        }
    }

    .tab-panels {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .tab-panel {
        width: 100%;

        @at-root body.js & {
            display: none;
        }

        @at-root body.js &.active {
            display: block;
        }
    }

    pre {
        position: relative;
        overflow: hidden;
    }

    code {
        display: block;
        overflow-x: auto;
        font-family: "Roboto Mono", 'Courier New', Courier, monospace;
        background: $plum;
        color: $catskill;
        padding: 20px;
        border-radius: 6px;

        @media (min-width: 500px) {
            padding: 40px;
        }
    }
}