$left-margin: 6.6em;
$bottom-margin: 5.1em;
$left-step: 13em;
$bottom-step: 7.5em;

.hero-banner {
    overflow: hidden;
    padding: 70px 0 40px 0;

    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(199deg, #fff 10%, rgba(#fff, 0) 50%);
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg, #fff 10%, rgba(#fff, 0) 100%);
        pointer-events: none;
    }

    @media (min-width: 500px) {
        padding: 88px 0 0 0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        @media (min-width: 860px) {
            flex-direction: row-reverse;   
        }
    }

    .content {
        position: relative;
        z-index: 3;
        font-size: rem(14px);

        @media (min-width: 860px) {
            width: 50%;
            font-size: rem(18px);

            h1,
            div {
                max-width: 450px;
            }
        }

        @media (min-width: 1200px) {
            padding-bottom: 20px;
            width: 42%;
        }
    }

    h1 {
        margin-top: 0;
    }

    .image {
        position: relative;
        width: 100%;
        max-width: 360px;
        height: 200px;

        @media (min-width: 500px) {
            height: 300px;
            max-width: 600px;
        }

        @media (min-width: 860px) {
            width: 50%;
            height: 400px;
        }

        @media (min-width: 1200px) {
            max-width: 100%;
            width: 58%;
            height: 500px;
        }
        /*


        img {
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .overlay {
            position: absolute;
            width: 744px;
            max-width: 100%;
            height: 545px;
            left: 0;
            bottom: 0;
            background: linear-gradient(199.4deg, #FFFFFF 20.11%, rgba(255, 255, 255, 0) 49.89%);
        }*/
    }

    
    .illustration {
        position: absolute;
        width: 100%;
        height: 100%;

        font-size: 5px;

        @media (min-width: 500px) {
            font-size: 8px;
        }

        @media (min-width: 1200px) {
            font-size: 10px;
        }

        img {
            display: block;
            height: 100%;
            width: auto;
        }
    }

    .laptop {
        position: absolute;
        left: 0;
        bottom: 0;

        height: 21em;
    }

    .cubes {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
    }

    @keyframes cubeHover {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-1em);
        }
    }

    @keyframes cubeShadow {
        from {
            transform: translateY(0);
            filter: blur(0px);
            opacity: 1;
        }

        to {
            transform: translateY(1em);
            filter: blur(.2em);
            opacity: .5;
        }
    }

    .cube {
        position: absolute;
        width: 10em;
        height: 11.9em;
        padding: 2.5em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("/images/cube-background.svg") no-repeat;
        background-size: contain;

        //animation: cubeHover .3s ease-in-out infinite alternate;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            height: 6em;
            width: 15em;
            background: url("/images/cube-shadow.svg") no-repeat;
            background-position: bottom left;
            background-size: contain;

            //animation: cubeShadow .3s ease-in-out infinite alternate;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10em;
            height: 11.9em;
            top: 0;
            left: 0;
            background: url("/images/cube-foreground.svg") no-repeat;
            background-size: contain;
        }

        &.c1 {
            left: ($left-margin + ($left-step * 2));
            bottom: ($bottom-margin + ($bottom-step * 0));

            animation-delay: 0;
            &:before {
                animation-delay: 0;
            }
        }

        &.c2 {
            left: ($left-margin + ($left-step * 1));
            bottom: ($bottom-margin + ($bottom-step * 1));

            animation-delay: 5s;
            &:before {
                animation-delay: 5s;
            }
        }

        &.c3 {
            left: ($left-margin + ($left-step * 0));
            bottom: ($bottom-margin + ($bottom-step * 2));

            animation-delay: 2s;
            &:before {
                animation-delay: 2s;
            }
        }

        &.c4 {
            left: ($left-margin + ($left-step * 4));
            bottom: ($bottom-margin + ($bottom-step * 0));

            animation-delay: 8s;
            &:before {
                animation-delay: 8s;
            }
        }

        &.c5 {
            left: ($left-margin + ($left-step * 3));
            bottom: ($bottom-margin + ($bottom-step * 1));

            animation-delay: 1s;
            &:before {
                animation-delay: 1s;
            }
        }

        &.c6 {
            left: ($left-margin + ($left-step * 2));
            bottom: ($bottom-margin + ($bottom-step * 2));

            animation-delay: 3s;
            &:before {
                animation-delay: 3s;
            }
        }

        &.c7 {
            left: ($left-margin + ($left-step * 1));
            bottom: ($bottom-margin + ($bottom-step * 3));

            animation-delay: 0s;
            &:before {
                animation-delay: 0s;
            }
        }

        &.c8 {
            left: ($left-margin + ($left-step * 0));
            bottom: ($bottom-margin + ($bottom-step * 4));

            animation-delay: 2s;
            &:before {
                animation-delay: 2s;
            }
        }

        &.c9 {
            left: ($left-margin + ($left-step * 4));
            bottom: ($bottom-margin + ($bottom-step * 2));

            animation-delay: 4.5s;
            &:before {
                animation-delay: 4.5s;
            }
        }

        &.c10 {
            left: ($left-margin + ($left-step * 3));
            bottom: ($bottom-margin + ($bottom-step * 3));

            animation-delay: 3.3s;
            &:before {
                animation-delay: 3.3s;
            }
        }

        &.c11 {
            left: ($left-margin + ($left-step * 2));
            bottom: ($bottom-margin + ($bottom-step * 4));

            animation-delay: 0s;
            &:before {
                animation-delay: 0s;
            }
        }

        &.c12 {
            left: ($left-margin + ($left-step * 1));
            bottom: ($bottom-margin + ($bottom-step * 5));

            animation-delay: 1.5s;
            &:before {
                animation-delay: 1.5s;
            }
        }

        &.c13 {
            left: ($left-margin + ($left-step * 4));
            bottom: ($bottom-margin + ($bottom-step * 4));

            animation-delay: 3.8s;
            &:before {
                animation-delay: 3.8s;
            }
        }

        &.c14 {
            left: ($left-margin + ($left-step * 3));
            bottom: ($bottom-margin + ($bottom-step * 5));

            animation-delay: .6s;
            &:before {
                animation-delay: .6s;
            }
        }
    }
}