.pricing {
  padding: 40px 0 20px 0;

  @media (min-width: 780px) {
    padding: 60px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .content {
    text-align: center;
  }

  h1,
  h2 {
    margin: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    @media (min-width: 500px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: 1024px) {
      gap: 20px;
    }
  }
}

.pricing-table {
  display: flex;

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .details {
      padding: 30px 20px;

      img {
        width: 100%;
        height: auto;
        max-width: 170px;
      }
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $smoke;
    flex-grow: 1;
  }

  @media (min-width: 860px) {
    border: 1px solid $mist;
    border-radius: 6px;
  }

  @media (max-width: 1023px) {
    &>.info {
      display: none;
    }

    .feature::after {
      content: attr(data-label);
      font-size: rem(12px);
      color: $smoke;
      text-align: right;
      margin-left: auto;
      font-weight: 400;

      @media (min-width: 500px) {
        font-size: rem(15px);
      }
    }
  }

  .feature {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    line-height: 1;
    height: 3.5em;

    &:nth-child(odd) {
      background: lighten($catskill, 1.5%);
    }

    .icon-check {
      color: $aqua;
    }
  }

  .plans {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    @media (min-width: 860px) {
      flex-direction: row;
      gap: 0;
    }
  }

  .plan {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    border: 1px solid $mist;
    border-radius: 6px;

    @media (min-width: 860px) {
      border-width: 0 0 0 1px;
      border-radius: 0;
    }

    @media (min-width: 860px) and (max-width: 1023px) {
      &:first-child {
        border-left: none;
      }
    }

    .details {
      padding: 30px 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .prices {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .price {
      font-size: rem(16px);
      line-height: 1;
      display: flex;
      gap: 10px;
      align-items: flex-end;

      @media (min-width: 500px) {
        font-size: rem(20px);
      }
    }

    .price-discount {
      color: $topaz;
      font-weight: 500;
    }

    .price-value {
      color: $plum;
      font-weight: 500;
    }

    .price-discount+.price-value {
      text-decoration: line-through;
    }

    .price-label {
      font-size: rem(12px);
      color: $smoke;

      @media (min-width: 500px) {
        font-size: rem(14px);
      }
    }

    .discount {
      background: $plum;
      color: $catskill;
      border-radius: 6px;
      padding: 16px;
    }

    .discount-title {
      color: $aqua;
      font-weight: 500;
    }

    .feature {
      font-weight: 500;
      color: $plum;
    }
  }
}