.sponsor-credits {
    padding: 60px 0;

    @media (min-width: 780px) {
        padding: 60px 0;
    }

    .sponsors,
    .donors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-items: center;
        align-items: center;
        padding: 40px 0;
        border-bottom: 1px solid $mist;
        margin-bottom: 40px;

        a {
            display: flex;
            height: 40px;
            align-items: center;
            transition: opacity 0.2s ease;

            &:hover {
                opacity: .45;
            }

            img {
                max-height: 100%;
            }
        }

        @media (min-width: 500px) {
            grid-template-columns: repeat(5, 1fr);

            a {
                height: 50px;
            }
        }
    }

    .backers {
        column-gap: 40px;
        margin-top: 40px;

        @media (min-width: 380px) {
            columns: 2;
        }

        @media (min-width: 780px) {
            columns: 3;
        }

        a {
            display: block;
            max-width: max-content;
            margin-bottom: 10px;
        }
    }
}