.text-callout {
  padding: 40px 20px;

  @media (min-width: 780px) {
    padding: 60px 20px;
  }

  .container {
    display: grid;
    align-items: center;
    gap: 32px;
    background-color: $ghost;
    border-radius: 20px;
    padding: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    text-align: center;

    h2 {
      @media (min-width: 860px) {
        font-size: rem(36px);
      }
    }

    .description {
      font-size: rem(14px);

      @media (min-width: 860px) {
        font-size: rem(18px);
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
    }
  }
}
