<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex, nofollow">
    <script type="text/javascript">
      function redirectToDashboard() {
        const redirectUrl = new URL("https://app.testcontainers.cloud/api/auth/login");
        const account = new URLSearchParams(window.location.search).get("account");
        if (account) {
          redirectUrl.searchParams.append("returnTo", "login?returnTo=" + encodeURIComponent(`/?account=${account}`))
        } 
        window.location.assign(redirectUrl);
      }
      // Redirect immediately
      redirectToDashboard();
    </script>    
  </head>
  <body>
  </body>
</html>