<footer id="site-footer">
  <div class="container">
    <div class="columns">
      <div class="first-col">
        <div class="newsletter">
          <h2>Want to stay up to date?</h2>
          <a class="button" href="https://newsletter.testcontainers.com/">Read the Newsletter</a>
        </div>
      </div>
      <div class="footer-links">
        <h2>Links</h2>
        <ul>
          <li>
            <a href="/community-champions/">Community Champions</a>
          </li>
          {{ range sort site.Data.languages "order" }}
            {{ if .link }}
              <li>
                <a href="{{ .link }}" target="_blank">
                  Testcontainers for {{ .title }}
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      <div class="community-col">
        <div class="community-callout">
          <h2>Join the community</h2>
          <p>We hope that you find Testcontainers reliable and intuitive to use. However sometimes things don't go the
            way we'd expect and we'd like to try and help out if we can.</p>
          <ul>
            <li>
              <a href="https://slack.testcontainers.org/" target="_blank">
                {{ partial "img.html" (dict "image" (resources.Get "/images/slack.svg") "alt" "Slack") }}
              </a>
            </li>
            <li>
              <a href="https://github.com/testcontainers" target="_blank">
                {{ partial "img.html" (dict "image" (resources.Get "/images/github.svg") "alt" "GitHub") }}
              </a>
            </li>
            <li>
              <a href="https://stackoverflow.com/questions/tagged/testcontainers" target="_blank">
                {{ partial "img.html" (dict "image" (resources.Get "/images/stackoverflow.svg") "alt" "StackOverflow")
                }}
              </a>
            </li>
            <li>
              <a href="https://twitter.com/testcontainers" target="_blank">
                {{ partial "img.html" (dict "image" (resources.Get "/images/twitter.svg") "alt" "Twitter") }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>