<div class="announcement-banner">
    <a href="https://go.redpanda.com/webinar-may2023?utm_source=atomicjar&utm_medium=partners&utm_campaign=may_webinar&utm_assettype=webinar&utm_assetname=dev_productivity" target="_blank" rel="noopener">Looking to boost your Kafka developer productivity? Join our webinar today</a>
</div>
<header id="site-header">
    <div class="brand">
        <a href="/" class="logo">
            {{ partial "img.html" (dict "image" (resources.Get "/images/testcontainers-logo.svg") "alt" "Testcontainers Logo") }}
        </a>
        <button id="mobile-menu-toggle">
            Menu
            <svg width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <rect y="22" width="30" height="4" rx="2"/>
                <rect y="13" width="30" height="4" rx="2"/>
                <rect y="4" width="30" height="4" rx="2"/>
            </svg>        
        </button>
    </div>
    <nav>
        <ul class="menu">
            <li class="menu-item">
                <a href="/cloud">
                    Cloud
                </a>
            </li>
            <li class="menu-item">
                <a href="/getting-started">
                    Getting Started
                </a>
            </li>
            <li class="menu-item">
                <a href="/guides">
                    Guides
                </a>
            </li>
            <li class="menu-item">
                <a href="/modules">
                    Modules
                </a>
            </li>
            <li class="menu-item has-children">
                <button>
                    Docs
                    <svg class="icon-caret" height="10" viewBox="0 0 10 10">
                        <use href="#icon-caret"></use>
                    </svg>
                </button>
                <ul class="menu-dropdown">
                    {{ range .Site.Data.languages }}
                        <li class="menu-dropdown-item">
                            <a href="{{ .link }}" target="_blank" target="_blank">
                                {{ partial "img.html" (dict "image" (resources.Get .logo) "alt" "") }}
                                <span>{{ .label }}</span>
                                <svg class="icon-external" width="15" height="17" viewBox="0 0 15 17">
                                    <use href="#icon-external"></use>
                                </svg>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://slack.testcontainers.org/" target="_blank">
                    {{ partial "svgs/slack" }}
                    <span class="sr-only">Slack</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="https://github.com/testcontainers" target="_blank">
                    {{ partial "svgs/github" }}
                    <span class="sr-only">GitHub</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
{{ define "subheader" }}
    {{ if eq .Params.submenu "cloud" }}
    <div id="subheader">
        <a class="subheader-title" href="/cloud">Testcontainers Cloud</a>
        <button id="mobile-submenu-toggle">
            <span class="sr-only">Subheader Menu</span>
            <svg width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <rect y="22" width="30" height="4" rx="2"/>
                <rect y="13" width="30" height="4" rx="2"/>
                <rect y="4" width="30" height="4" rx="2"/>
            </svg>        
        </button>
        <nav>
            <ul class="subheader-menu">
                <li class="menu-item">
                    <a href="/cloud/desktop">
                        On Desktop
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/cloud/ci">
                        On CI
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/pricing">
                        Pricing
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="subheader-buttons">
            <li class="menu-item">
                <a href="https://app.testcontainers.cloud">
                    Log In
                </a>
            </li>
            <li class="menu-item alt">
                <a href="https://app.testcontainers.cloud/signup">
                    Free Trial
                </a>
            </li>
        </ul>
    </div>
    {{ end }}
{{ end }}