<header id="site-header">
    <a href="/" class="logo">
        {{ partial "img.html" (dict "image" (resources.Get "/images/testcontainers-logo.svg") "alt" "Testcontainers Logo") }}
    </a>
    <nav>
        <ul class="menu">
            <li class="menu-item">
                <a href="/guides">
                    Guides
                </a>
            </li>
            <li class="menu-item has-children">
                <button>
                    Docs
                    {{ partial "svgs/caret" }}
                </button>
                <ul class="menu-dropdown">
                    {{ range .Site.Data.languages }}
                        <li class="menu-dropdown-item">
                            <a href="{{ .link }}" target="_blank" target="_blank">
                                {{ partial "img.html" (dict "image" (resources.Get .logo) "alt" "") }}
                                <span>{{ .label }}</span>
                                <svg class="icon-external" width="15" height="17" viewBox="0 0 15 17">
                                    <use href="#icon-external"></use>
                                </svg>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://slack.testcontainers.org/" target="_blank">
                    {{ partial "svgs/slack" }}
                    <span class="sr-only">Slack</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="https://github.com/testcontainers" target="_blank">
                    {{ partial "svgs/github" }}
                    <span class="sr-only">GitHub</span>
                </a>
            </li>
        </ul>
    </nav>
</header>