<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $style := resources.Get "/sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<script src="/js/highlight.min.js" defer></script>
{{ $script := resources.Get "/js/main.js" | resources.Minify }}
<script src="{{ $script.RelPermalink }}" defer></script>

<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">

<link rel="canonical" href="{{ .Permalink }}" />

{{ partial "meta" . }}