.champions-banner {
    padding: 0 0 40px 0;

    @media (min-width: 500px) {
        padding: 0;
    }

    h1,
    .description {
        max-width: 1024px;
    }

    .description {
        font-size: rem(16px);

        @media (min-width: 500px) {
            font-size: rem(24px);
        }
    }
}